#pageDropDown{
    visibility: hidden;
}
#pageDropDown:hover{
    width: 66px;
    box-shadow: none;
}
.pagination{
    float: left;
}
#clearbtn:hover{
    width: 47px;
    box-shadow: none;
}
#boottable{
    font-size: 13px;
}