/* #applybtn{
    color: #fff;
    background-color: #0d6efd;
    border-radius: 5px;
}
#applybtn:hover{
    width: 80px;
    box-shadow: none;
    background-color: #0b58cc;
} */
#submit-new-comment{
    color: #fff;
    background-color: #0d6efd;
    border-radius: 5px;
}
#submit-new-comment:hover{
    width: 99px;
    box-shadow: none;
    background-color: #0b58cc;
}
#writer{
    font-size: 20px;
}
.product__details__pic__item--large{
    width: 100%;
    height: 450px;
    margin-top: 60px;
}
#applyCancel{
    color: #fff;
    background-color: black;
    border: none;
    width: 100%;
    border-radius: 5px;
}
#writerName{
    width: 25%;
}
#content{
    width: 45%;
} 
#date{
    width: 20%;
}
#commentContainer{
   margin-top: 50px;
   margin-bottom: 50px;
}
#writing-area{
    margin-top: 50px;
}
#new-comment-content{
    width: 100%;
}
#nickname{
    float: left;
}
#submit-new-comment{
    float: right;
}
#submit-new-comment:hover{
    width: 88px;
}
.heart-icon{
    float: right;
}
.product__details__text{
    margin-top: 60px;
}
#removebtn{
    width: 90px;
    color: #fff;
    background-color: #0d6efd;
    border-radius: 5px;
}
#removebtn:hover{
    box-shadow: none;
    background-color: #163c72;
}
#contentDeletebtn{
    float: right;
    color: #fff;
    background-color: #0d6efd;
    border-radius: 5px;
}
#contentModifybtn{
    float: right;
    color: #fff;
    background-color: #0d6efd;
    border-radius: 5px;
}
.urlBtn{
    color: #fff;
    background-color: #0d6efd;
    border-radius: 5px;
}
#priceText{
    font-size: 20px;
    font-weight: 800;
    color: rgb(255, 115, 0);
}
#nicknameText{
    font-size: 20px;
    font-weight: 800;
    color: rgb(78, 34, 0);
}
#infoList{
    list-style: none;
}
#dateMoment{
    font-size: 20px;
    font-weight: 800;
    color: rgb(175, 100, 2);
}
#stepSta{
    font-size: 20px;
    font-weight: 800;
    color: rgb(246, 20, 20);
}
#matchingNum{
    font-size: 20px;
    font-weight: 800;
    color: rgb(0, 26, 98);
}
#titleText{
    font-size: 30px;
    font-weight: 800;
    color: rgb(0, 11, 42);
}
#apply{
    border: none;
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
    width: 100%;
}
.modal-body{
    height: 50%;
    overflow-y: scroll;
   
}
.table{
    margin: 0;
}
#modalMain{
    padding: 0;
}
#modalFooter{
    padding: 5px;
}
#close{
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
    width: 50px;
}
#modalModifybtn{
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
}
@media screen and (max-width: 500px) { 
    .table { 
        width: 70%;
    } 
}