/* #applybtn{
    color: #fff;
    background-color: #0d6efd;
    border-radius: 5px;
}
#applybtn:hover{
    width: 80px;
    box-shadow: none;
    background-color: #0b58cc;
} */
#productImg{
    border-radius: 10px;
}
#submit-new-comment{
    color: #fff;
    background-color: #1a63b6;
    border-radius: 5px;
    margin-bottom: 80px;
    float: right;
}
#submit-new-comment:hover{
    background-color: #134a8a;
}
#writer{
    font-size: 20px;
}
.product__details__pic__item--large{
    width: 100%;
    height: 450px;
    margin-top: 60px;
}
#applyCancel{
    border: none;
    background-color: black;;
    padding: 10px;
    color: white;
    border-radius: 5px;
    width: 40%;
    float: right;
}
/* table > tr > th{
    width: 30%;
} */
#writerName{
    padding-right: 15px;
}
#content{
    padding-right: 15px;
} 
#bookmarkContainer{
    float: right;
}
#imgdeletebtn{
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
    border: 0.5px solid rgb(196, 196, 196);
    margin-bottom: 3px;
}
#imgUpbtn{
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
    border: 0.5px solid gray;
    margin-bottom: 3px;
}
#imgUpload{
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
    border: 0.5px solid rgb(196, 196, 196);
}
#date{
    padding-right: 15px;
} 
#commentContainer{
   margin-top: 50px;
   margin-bottom: 50px;
}
#writing-area{
    margin-top: 50px;
}
#new-comment-content{
    width: 100%;
}
#nickname{
    float: left;
}
.left{
    width: 100px;
}
.heart-icon{
    float: right;
}
.product__details__text{
    margin-top: 90px;
}
.slide{
    background-color: #fff;
}
#removebtn{
    color: #fff;
    background-color: #e62e0e;
    border-radius: 5px;
    border: none;
    margin-right: 3px;
}
#removebtn:hover{
    box-shadow: none;
    background-color: #571e0c;
}
#commentModibtn{
    color: #fff;
    background-color: #b1b3b6;
    border-radius: 5px;
    border: none;
}
#commentModibtn:hover{
    box-shadow: none;
    background-color: #571e0c;
    
}
#contentDeletebtn{
    float: right;
    color: #fff;
    background-color: #f33d10;
    border-radius: 5px;
    padding: 5px;
    margin-right: 3px;
    border: none;
}
#contentDeletebtn:hover{
    background-color: #a83315;
}
#contentModifybtn{
    float: right;
    color: #fff;
    background-color: #b1b3b6;
    border-radius: 5px;
    padding: 5px;
    border: none;
}
#contentModifybtn:hover{
    background-color: #8b8d91;
}
/* .urlBtn{
    color: green;
    border: 2px solid green;
    border-radius: 5px;
    padding:8px;
    float: right;
    margin-bottom: 3px;
}
.urlBtn:hover{
    color: green;
    background-color: #dae2da;
} */
#chat{
    color: #fff;
    background-color: #faa629;
    border-radius: 5px;
    border: none;
    padding:8px
}
#chatDiv{
    text-align: end;
}
#priceText{
    font-size: 20px;
    font-weight: 800;
    color: rgb(99, 99, 99);
}
#nicknameText{
    font-size: 20px;
    font-weight: 800;
    color: rgb(78, 34, 0);
}
#infoList{
    list-style: none;
}
#dateMoment{
    font-size: 20px;
    font-weight: 900;
    color: rgb(99, 99, 99);
}
#location{
    font-size: 20px;
    font-weight: 900;
    color: rgb(99, 99, 99);
}
#stepSta{
    font-size: 20px;
    font-weight: 900;
    color: red
}
#matchingNum{
    font-size: 20px;
    font-weight: 800;
    color: rgb(0, 26, 98);
}
#titleText{
    font-size: 25px;
    font-weight: 600;
    color: rgb(0, 11, 42);
    text-align: left;
}
.urlbtn{
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    width: 55%;
    float: left;
    color: green;
}
.urlbtn:hover{
    background-color: #cad3d4;;
}
#apply{
    border: none;
    background-color: #17a2b8;;
    padding: 10px;
    color: white;
    border-radius: 5px;
    width: 40%;
    float: right;
}
#apply:hover{
    background-color: #25818f;
}
.modal-body{
    height: 50%;
    overflow-y: scroll;
   
}
.table{
    margin: 0;
}
#modalMain{
    padding: 0;
}
#modalFooter{
    padding: 5px;
}
#close{
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
    width: 50px;
}
#modalModifybtn{
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
}
/* @media screen and (max-width: 500px) { 
    .table { 
        width: 70%;
    } 
} */
.leftLabel{
    width: 100px;
}
#commentTitle{
    float: left;
    font-size: 20px;
    font-weight: 700;
}
#productContent{
    color: black;
}