.myDonation {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content:center
}

.myDonationDescription, .myDonationList{
    flex: 1 1 auto; /* flex: 1 1 0 */
}

.myDonationList {
    margin: auto auto;
}
