#category:hover{
    box-shadow: 1px 2px 5px 0px #918e8e;
}
#category{
    float: right;
}
#pagination{
    margin-top: 20px;
    
}
.pagination{
    align-items: center;
    justify-content: center;
}
#grid{
    margin: 5px;
  }
  #gbTitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
#grid-container{
    grid-template-rows: repeat(2, 60px);
  grid-template-columns: 90px 90px;
}
.input {
    padding: 5px 15px;
    width: 300px;
    align-items: center;
  }
  #selectBox{
      float: right;
  }
